*{
    margin: 0px;
    padding: 0px;
}

/* För att få container att använda flexbox kod  */
.container {
    display: flex;

}
/* Css för alla produkter */
.item {
    height: 300px;
    flex-grow: 1;
    background-color: white;
    margin-top: 40px;
    margin: 40px;
    text-align: center;
}
/* för att inte få underline på texten när det är en länk */
a{
    text-decoration: none;
}
/* För att få marigin på 2% mellan produkterna */
.item + .item {
    margin-left: 2%;

}

body{   
    background-color:rgb(255, 255, 255);
}
/* För att menyn ska använda flexbox kod */
.menu { 
    display: flex;
}
/* css för alla boxar i navbaren */
.menuitem {
    height: 70px;
    flex-grow: 1;
    background-color: rgb(48, 48, 48);
    border-color: white;
    color: white;
    font-size: 60px;
    text-align: center;
    display: inline-block;
    font-family: lequire;
}
/* när musen hovrar över boxarna i menyn ska texten ändrar från vit till svart och backgrunden från grå till vit */
.menuitem:hover {
    background-color:white ;
    color: black;
    transition: 0.7s;
}

/* css till boxen där rubriken står */
.rubrik{
    height: 100px;
    flex-grow: 1;
    background-color: rgb(48, 48, 48);
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 600px;     
    margin-right: 600px;  
    text-align: center;
    font-size: 95px;
    font-family: lequire;
    color: white;
}   
/* För att använda den nedladdade fonten */
@font-face{
    font-family: lequire ;
    src: url("Lequire.woff") format('woff');
}

img{
    height: 200px;  
    vertical-align: middle;
}
/* för att få övergång på bilderna i item boxarna */
.item img { 
    transition: all 0.2s linear;
}
/* för att få övergång på texten i produkt boxarna */
.item h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in;
}
/* för att få övergång på texten i produkt boxarna */
.item p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s ease-in;
}
/* footer längst ned på siden  */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(48, 48, 48);
    text-align: center;
    font-size: 30px;
    font-family: lequire;
    color: rgb(255, 255, 255);
  }
/* Hur mycket större bilden ska bli när man hoverar med musen på produkterna */
.item:hover img { 
	transform: scale(1.3);
}
/* Gör texten synlig vid övergångarna */
.item:hover h2,
.item:hover p {
    opacity: 1;
    transform: translateY(0px);
}
/* hur lång tid övergången för texten ska ta */
.item:hover p {
    transition-delay: 0.2s;
}
